

.card {
    width: 500px;
    height: fit-content;
    border: 3px solid salmon;
    border-radius: 25px;
    background-color: darksalmon;
    margin: 10px;
    
}

.card-img {
    width: 70%;
    height: 70%;
}
